html {
  background: #F14C38;

}

#header {

  background-color: white;
  width: 80%;
  height:150px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 30px;
  border-color: #144955;

}


#links {
  position: relative;
  background-color: white;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #144955;
  border-radius: 30px;
  color: #25354A;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
  text-align: center;

  vertical-align: middle;
  word-spacing: 25px;
  margin-top: -95px;
  margin-bottom: 10px;
}

#pagebody {
  background-color: white;
  width: 100%;
  height: 350px;
  top:100px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #144955;
  border-radius: 30px;
  color: grey;
  font-family: century gothic, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
#myimage {
position: relative;
  height: 130px;
  width: 130px;
  top: -115px;
  left: 65%;

}

#twitter {
position: relative;
float: left;
  height: 40px;
  width: 40px;
  left: 55px;
   top: -90px;
}

#facebook {
  float: left;
position: relative;
  height: 40px;
  width: 40px;
  left: 55px;
   top: -90px;
}

#linkedin {
  float: left;
position: relative;
  height: 40px;
  width: 40px;
  left: 55px;
   top: -90px;
}

#github {
  float: left;
position: relative;
  height: 40px;
  width: 40px;
  left: 55px;
  top: -90px;
}

h1 {
  color: #25354A;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  text-align: center;

}

h2 {
  margin-top: 200px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 20px;
  color: #25354A;
}

h4 {
  font-family: 'Hammersmith One', sans-serif;
  color:#25354A;
}

#footer {

  display: block;
  background-color: white;
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 30px;
  border-color: #144955;
  background-color: white;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  font-family: 'Poiret One', cursive;
  color: black;
}

a:link {
  color: #25354A;
}